Source: stickit
Section: x11
Priority: extra
Maintainer: Niyas C <niyasmonc@gmail.com>
Build-Depends: valac,
               debhelper (>= 9),
               cmake,
               libjson-glib-dev,
               libgtk-3-dev,
               libgee-0.8-dev
Standards-Version: 3.9.3
Package: stickit
Architecture: any
version: 0.1
Description: Stickit
 First build of Stickit, a simple sticky note app
